$zup-primary: rgba(92, 84, 165, 1);
$zup-secondary: #b5afe3;
$zup-mid-purple: #8075dd;
$zup-light-purple: #e0ddf3;
$zup-white: #ffffff;
$zup-outline: #c7dce8;
$zup-confirm: #56b573;
$zup-cancel: #dc3636;

body{
  background-color: #8075dd;
}
